*{
	font-size: max(calc(100vw / 1400 * 20), 20px);
}
:root{
	--branco: #ffffee;
	--preto: #222222;
	--iluminado: rgba(255,255,255,0.1);
	--sombra: rgba(0,0,0,0.33);
	--cor_principal: #FF8800;
	--bloco_minimo: max(calc(100vw / 1400 * 180), 180px);
}
html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: var(--cor_principal);
	color: var(--preto);
}
a{
	color: var(--branco);
	text-decoration: none;
	transition: .2s;
}
a:hover{
	transform: scale(1.1);
}

header{
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	margin-bottom: 1em;
	background-color: var(--preto);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}
#logo{
	margin: -1em;
	margin-right: auto;
}
header a{
	margin: 0 1em;
}
#quiosque{
	padding: 1em;
}
#quiosque p{
	max-width: 100ch;
	margin: .5em auto;
}
#cardapio{
	min-height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#cardapio div{
	position: relative;
	min-width: var(--bloco_minimo);
	max-width: var(--bloco_minimo);
	min-height: var(--bloco_minimo);
	margin: 1em;
	padding: 1em;
	background-color: var(--iluminado);
	color: var(--branco);
	border-radius: 0.5em;
	box-shadow: 0px 10px 20px -10px var(--sombra);
}
#cardapio div.visible{
	max-width: none;
}
#cardapio div h1{
	text-align: center;
	position: relative;
}
#cardapio div img{
	opacity: 0;
	transition: 1s;
	position: absolute;
	display: block;
	top: -1.5em;
	width: var(--bloco_minimo);
	height: 3em;
	object-fit: contain;
	filter: drop-shadow(1px 3px 1px var(--sombra));
}
#cardapio div img.visible{
	opacity: 1;
}

#cardapio div ul{
	list-style-type: none;
	padding: 0;
}
#cardapio div ul :nth-child(n+4){
	max-height: 0;
	overflow: hidden;
	transition: .5s;
}
#cardapio div.visible ul :nth-child(n+4){
	max-height: 2em;
}
#cardapio div::after{
	content: "...";
	display: inline-block;
	transform: scale(0);
	transform-origin: left;
	transition: .2s;
}
#cardapio div:not(#refrescos, .visible):hover::after{
	transform: scale(3);
}

#map_section{
	height: 100%;
	width: 100%;
}
#formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 1em;
	margin: auto;
	max-width: 100ch;
}
#formulario input, #formulario textarea, #formulario button{
	padding: 1em;
}
#formulario span{
	margin: 1em 0.5em 0.5em;
}
#formulario button{
	align-self: center;
	margin: 1em;
	border:none;
	background: var(--preto);
	color: var(--branco);
	transition: .2s;
}
#formulario button:hover{
	border-radius: .25em;
	transform: scale(1.1);
}

#detalhes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#detalhes > div{
	background-color: var(--iluminado);
	color: var(--branco);
	margin: 1em;
	padding: 1em;
	min-height: var(--bloco_minimo);
	min-width: var(--bloco_minimo);
	border-radius: 0.5em;
	box-shadow: 0px 10px 20px -10px var(--sombra);
}
#detalhes > div h1{
	text-align: center;
}
#detalhes > div p span{
	margin-left: 1em;
}
#detalhes a{
	display: block;
	text-align: center;
}
#detalhes a::before{
	content: "›››";
}
#detalhes a::after{
	content: "‹‹‹";
}
@media (max-width: 750px) {
	header, #detalhes{
		flex-direction: column;
	}
	#logo, header a{
		margin: 1em;
	}
	#quiosque p{
		margin: .5em 1em;
	}
}