*{
	font-size: max(calc(100vw / 1400 * 20), 20px);
}
:root{
	--branco: #ffffee;
	--preto: #222222;
	--iluminado: rgba(255,255,255,0.1);
	--sombra: rgba(0,0,0,0.33);
	--cor_principal: #FF8800;
}
html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: var(--cor_principal);
	color: var(--preto);
}
a{
	color: var(--branco);
	text-decoration: none;
	transition: .1s;
}
a:hover{
	transform: scale(1.1);
}
.só_cardapio :is(header a, #quiosque, #map_section, #contatos){
	display: none;
}

header{
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	margin-bottom: 1em;
	background-color: var(--preto);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}
#logo{
	margin: -1em;
	margin-right: auto;
}
header a{
	margin: 0 1em;
}
#quiosque{
	padding: 1em;
}
#quiosque p{
	max-width: 100ch;
	margin: .5em auto;
}
#cardapio{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 1em;
	gap: 2em;
}

#cardapio div{
	cursor: pointer;
	position: relative;
	padding: 0;
	background-color: var(--iluminado);
	color: var(--branco);
	border-radius: .5em .5em 1em 1em;
	box-shadow: 0px 10px 20px -10px var(--sombra);
}
#cardapio div:hover{
	box-shadow:
	0px 10px 20px -10px var(--sombra),
	0px 0px 2px 2px var(--iluminado) inset;
}
#cardapio div img{
	opacity: 0;
	transition: opacity 1s, transform 0s;
	position: absolute;
	display: block;
	top: -1em;
	width: 6em;
	height: 3em;
	object-fit: contain;
	filter: drop-shadow(1px 3px 1px var(--sombra));
}
#cardapio div img.visible{
	opacity: 1;
}
#cardapio div:hover img{
	transform: rotate(5deg) translateY(-5px);
	filter: drop-shadow(1px 8px 1px var(--sombra));
}
#cardapio div h1{
	text-align: center;
	background-color: var(--preto);
	padding: 1em;
	margin: 0;
	margin-left: 6em;
	border-radius: 0em 0.5em 0em 0.5em;
}

#cardapio div ul{
	list-style-type: none;
	padding: 1em;
	margin: 0;
	text-align: right;
}
#cardapio div li{
	padding: .25em 0;
}
#cardapio div li:nth-child(even){
	background-image: linear-gradient(to right, transparent, var(--cor_principal));
}
#map_section{
	height: 100%;
	width: 100%;
}
#formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 1em;
	margin: auto;
	max-width: 100ch;
}
#formulario input, #formulario textarea, #formulario button{
	padding: 1em;
}
#formulario span{
	margin: 1em 0.5em 0;
	background: #222222;
	color: var(--branco);
	width: max-content;
	padding: .75em 1em 0.5em;
	border-radius: 1em 1em 0 0;
}
#formulario button{
	align-self: center;
	margin: 1em;
	border:none;
	background: var(--preto);
	color: var(--branco);
	transition: .1s;
}
#formulario button:hover{
	border-radius: .25em;
	transform: scale(1.1);
}

#detalhes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2em;
	padding: 1em;
}
#detalhes > div{
	background-color: var(--iluminado);
	color: var(--branco);
	border-radius: 0.5em;
	box-shadow: 0px 10px 20px -10px var(--sombra);
}
#detalhes > div h1{
	background-color: var(--preto);
	padding: 1em;
	margin: 0;
	margin-left: auto;
	width: max-content;
	border-radius: 0em 0.5em 0em 0.5em;
}
#detalhes > div p{
	margin: 1em;
}
#detalhes > div p span{
	margin-left: 1em;
}
#detalhes a{
	display: block;
	text-align: center;
}
#detalhes a::before{
	content: "›››";
}
#detalhes a::after{
	content: "‹‹‹";
}
@media (max-width: 750px) {
	header, #detalhes{
		flex-direction: column;
	}
	#logo, header a{
		margin: 1em;
	}
	#quiosque p{
		margin: .5em 1em;
	}
}